# Backend
SECRET_KEY=sua-secret-key
DEBUG=True
DATABASE_URL=postgres://nutrivivi:nutrivivi@postgres:5432/nutrivivi

# Email (Resend)
RESEND_API_KEY=re_sua_api_key_aqui
DEFAULT_FROM_EMAIL=Nutrivivi <onboarding@resend.dev>
NUTRITIONIST_EMAIL=email_da_nutricionista@exemplo.com

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
