# Backend
SECRET_KEY=sua-secret-key
DEBUG=True
DATABASE_URL=postgres://nutrivivi:nutrivivi@postgres:5432/nutrivivi

# Email (SMTP)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=usuario_mailtrap
SMTP_PASS=senha_mailtrap

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
